<div class='registration-main'>
  <h2 class='form-header-text'>ログイン</h2>

  <%# Deviseのログインフォームは model: resource, as: resource_name, url: session_path(resource_name) を使います %>
  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), class: 'registration-form', local: true do |f| %>

    <%# フラッシュメッセージ (login-flash-message はDeviseのエラーメッセージとは別) %>
    <div class='login-flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <%# メールアドレス %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true, autocomplete: "email" %>
    </div>

    <%# パスワード %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"", autocomplete: "current-password" %>
    </div>

    <%# ログインボタン %>
    <div class='login-btn-wrap'>
      <%= f.submit "ログイン" ,class:"login-red-btn" %>
    </div>

    <%# 他の認証関連リンク (新規登録、パスワードリセットなど) %>
    <%= render "devise/shared/links" %>

  <% end %> <%# form_with の終了 %>

</div> <%# registration-main の終了 %>